if TARGET_MICROSLAM

config SYS_BOARD
	default "microslam"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "microslam"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
